<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"/>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        console.log(111);
        $(document).ready(function () {
            console.log(333);
            $('.js-example-basic-single').select2();
        });
    </script>
</head>
<body>

<div class="container">
    <h2 class="mt-5">Create a new product</h2>
    {{ form_start(form, {'id': 'contactForm', 'novalidate': 'novalidate'}) }}

    <div class="form-group">
        <label for="name">{{ form_label(form.name) }}</label>
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        {{ (form_errors(form.name)) }}
    </div>
    <div class="form-group">
        <label for="comment">{{ form_label(form.comment) }}</label>
        {{ form_widget(form.comment, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        <label for="category">{{ form_label(form.category) }}</label>
        {{ form_widget(form.category, {'attr': {'class': 'form-control js-example-basic-single'}}) }}
    </div>


    <div class="form-group text-center">
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
    </div>

    {{ form_end(form) }}
</div>
</body>
</html>
