<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}

</head>
<body>
<div class="container mt-5">
    <h1 class="display-4 text-primary font-weight-bold">Product List</h1>
    <a href="/product/create" class="btn btn-success mb-3">Add product</a>
    <table class="table table-bordered table-striped table-hover ">
        <thead class="thead-light">
        <tr>
            <th>Name</th>
            <th>Comment</th>
            <th>Actions</th>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.comment }}</td>
                <td>
{#                    <a href="/product/read/{{ product.id }}" class="btn btn-info btn-sm">Read</a>#}
{#                    <a href="/product/update/{{ product.id }}" class="btn btn-warning btn-sm">Update</a>#}
{#                    <a href="/product/delete/{{ product.id }}" class="btn btn-danger btn-sm">Delete</a>#}
                    <a href="{{ path('app_product_read', {id: product.id}) }}" class="btn btn-info btn-sm">Read</a>
                    <a href="{{ path('app_product_update', {id: product.id}) }}" class="btn btn-warning btn-sm">Update</a>
                    <a href="{{ path('app_product_delete', {id: product.id}) }}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
