<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
</head>
<body>
<div class="container">
    <h2 class="mt-5">Ajouter un contact</h2>
    {{ form_start(form, {'id': 'contactForm', 'novalidate': 'novalidate'}) }}

    <div class="mb-3 col-md-3">
        {{ form_row(form.name) }}
    </div>

    <div class="mb-3 col-md-3">
        {{ form_row(form.firstname) }}
    </div>

    <div class="mb-3 col-md-3">
        {{ form_row(form.age) }}
    </div>

    <div class="mb-3 col-md-3">
        {{ form_row(form.tel) }}
    </div>

    <div class="mb-3 col-md-3">
        {{ form_row(form.pays) }}
    </div>

    <div class="mb-3 col-md-3">
        {{ form_row(form.email) }}
    </div>

    <div class="mb-3 col-md-3">
        {{ form_row(form.comment) }}
    </div>

    <div class="mb-3 col-md-3">
        {{ form_row(form.metier) }}
    </div>

    <div class="mb-3 col-md-3">
        {{ form_row(form.url) }}
    </div>

    <div class="col-md-3">
        {{ form_widget(form.submit) }}
        {{ form_widget(form.reset) }}
    </div>

    {{ form_end(form) }}

</div>
</body>
</html>
