<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}

</head>
<body>
<div class="container mt-5">
    <h1>Crud en PHP</h1>
    <a href="/users/ajouter" class="btn btn-success mb-3">Ajouter un user</a>
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Firstname</th>
            <th>Age</th>
            <th>Tel</th>
            <th>Pays</th>
            <th>Email</th>
            <th>Comment</th>
            <th>Metier</th>
            <th>Url</th>
            <th>Edition</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.tel }}</td>
                <td>{{ user.pays }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.comment }}</td>
                <td>{{ user.metier }}</td>
                <td>{{ user.url }}</td>
                <td>
                    <a href="/users/read/{{ user.id }}" class="btn btn-info btn-sm">Read</a>
                    <a href="/users/update/{{ user.id }}" class="btn btn-warning btn-sm">Update</a>
                    <a href="/users/delete/{{ user.id }}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
